@import url('https://fonts.googleapis.com/css2?family=Popins:wght@200;400;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #5e5e5e;
}
.header{
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #f1f1f1;
    font-family: "Poopins", sans-serif;
    background-repeat: no-repeat;
}
#RFK{
    width: 70px;
    height: 70px;
    border-radius: 50%;

}
.topnav a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 15px 90px;
    text-decoration: none;
    justify-content: center;
    font-family: "Poopins", sans-serif;
}
div.topnav{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.column{
    float: initial;
    padding: 150px 650px;
}
@media screen and (max-width:600px){
    .column{
        width: 100%;
    }
}
#lista {
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    list-style: circle;
}
.refriko{
    margin-right: 0px;
}
.botao {
    height: 300px;
    width: 100px;
}
h2 {
    padding: 0px 20px; 
    color: #fff;
}
.Agendamento {
    position: static;
    width: 100%;
    height: 0%;
}
