/* FONTE DA PÁGINA */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');
@media screen and (max-width: 600px) {
 .column {
   width: 100%;
 }
}

* {
 box-sizing: border-box;
}

body {
 margin: 0;
}

.header {
 background-color: #333;
 color: #fff;
 padding: 10px;
 background-repeat: no-repeat;
 text-align: center;
 font-family: 'Geologica', sans-serif;
}

.topnav a {
 float: left;
 display: block;
 color: #ffffff;
 text-align: center;
 padding: 15px 90px;
 text-decoration: none;
 justify-content: center; 
 font-family: 'Geologica', sans-serif;
}
div.topnav {
 list-style: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}

.column1 {
 float: left;
 width: 33.33%;
 padding: 15px;
 background-color: rgb(255, 255, 255);
 text-align: center;
 padding-bottom: 0px;
 font-family: 'Geologica', sans-serif;
}
.column2 {
 float: left;
 width: 33.33%;
 padding: 15px;
 background-color: rgb(255, 255, 255);
 text-align: center;
 padding-bottom: 0px;
 font-family: 'Geologica', sans-serif;
}
.column3 {
 float: left;
 width: 33.33%;
 padding: 15px;
 background-color: rgb(255, 255, 255);
 text-align: center;
 padding-bottom: 0%;
 font-family: 'Geologica', sans-serif;
}
li, h2 {
 color: #070707;
}
li {
 list-style-type: none;
}